*.o
*.out
*.a
*.project
*.cproject
*.rar
retroshare-gui/src/temp/moc/moc_*
retroshare-gui/src/temp/ui/ui_*
retroshare-gui/src/temp/qrc/qrc_*
.Trash*
.gdbinit
*/.settings/language.settings.xml
libbitdht/src/Makefile
libbitdht/src/auth/dht_filename_for_fks.txt
libbitdht/src/output.txt
libbitdht/src/tests/bdmetric_test
libbitdht/src/tests/bdmsgs_test
libbitdht/src/tests/bdspace_test
libretroshare/src/Makefile
openpgpsdk/src/Makefile
retroshare-gui/src/Makefile
retroshare-gui/src/RetroShare
retroshare-gui/src/dht_filename_for_fks.txt
retroshare-gui/src/main.cpp.bak
retroshare-gui/src/metadata.txt
retroshare-gui/src/temp/
libbitdht/dht_filename_for_fks.txt
*password_auth_metadata.txt
libbitdht/src/auth/runtests
libbitdht/src/auth/my name
libbitdht/my name
libbitdht/src/auth/Storage.h.gch
libbitdht/src/tests/bdbloom_test
libbitdht/src/tests/bdmgr_multitest
libbitdht/src/tests/bdmidids_test
libbitdht/src/tests/bdquery_test
libbitdht/src/tests/bdspace_test2
libbitdht/src/tests/bdstore_test
libbitdht/src/tests/udpbitdht_nettest
libbitdht/src/auth/tests
libbitdht/src/auth/udpbitdht_msgtest